In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv")
df.sample(5)

    age  gender   review education purchased
19   97    Male     Poor        PG       Yes
26   53  Female     Poor        PG        No
20   57  Female  Average    School       Yes
8    65  Female  Average        UG        No
41   23    Male     Good        PG       Yes

age - numerical

remaining - categorical



gender,purchased -- nominal

review,education -- ordinal



purchased == output

rem == input



one hot encoder on gender,

ordinal encoder on review,education

label encoder on purchased

In [4]:
df = df.iloc[:,2:]

In [5]:
df.sample(5)

   review education purchased
9    Good        UG       Yes
6    Good    School        No
18   Good    School        No
40   Good    School        No
1    Poor        UG        No

In [6]:
#ordinal encoding

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [9]:
x_train

     review education
31     Poor    School
28     Poor    School
39     Poor        PG
9      Good        UG
18     Good    School
42     Good        PG
43     Poor        PG
32  Average        UG
14     Poor        PG
40     Good    School
7      Poor    School
0   Average    School
8   Average        UG
1      Poor        UG
17     Poor        UG
21  Average        PG
3      Good        PG
30  Average        UG
27     Poor        PG
44  Average        UG
33     Good        PG
34  Average    School
16     Poor        UG
11     Good        UG
5   Average    School
12     Poor    School
10     Good        UG
22     Poor        PG
37  Average        PG
15     Poor        UG
2      Good        PG
36     Good        UG
25     Good    School
4   Average        UG
13  Average    School
45     Poor        PG
49     Good        UG
6      Good    School
23     Good    School
41     Good        PG

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [12]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [13]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [14]:
x_train = oe.transform(x_train)
x_test = oe.transform(x_test)

In [15]:
x_train

array([[0., 0.],
       [0., 0.],
       [0., 2.],
       [2., 1.],
       [2., 0.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [1., 2.],
       [2., 2.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [1., 0.],
       [0., 1.],
       [2., 1.],
       [1., 0.],
       [0., 0.],
       [2., 1.],
       [0., 2.],
       [1., 2.],
       [0., 1.],
       [2., 2.],
       [2., 1.],
       [2., 0.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [2., 1.],
       [2., 0.],
       [2., 0.],
       [2., 2.]])

In [16]:
oe.categories

[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

In [17]:
#LabelEncoder

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le = LabelEncoder()

In [20]:
le.fit(y_train)

LabelEncoder()

In [21]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [22]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [23]:
y_train

array([1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1])